<h1>Restaurants</h1>
<div>
  <% @restaurants.each do |r| %>
    <p><%= link_to r.name, restaurant_path(r.id) %></p>
    <p><%= r.category %></p>
  <% end %>
</div>
<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>

